@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,500;1,700&display=swap');

$textcolor:white;
$accentColor:rgb(255, 217, 0);
$greyishBlack: hsl(0, 0%, 9%);
$itemBorderRadius:20px;


@import './navbar.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $greyishBlack; 
    font-family: 'Open Sans', sans-serif;
    color: $textcolor;
}

main{
    &.fadeIn{
        animation:fade 1s;
    }
    @keyframes fade {
        from{opacity: 0;}
        to{opacity: 1;}
    }
}



@import './about.scss';
@import './menu.scss';
@import './contact.scss';
