header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba($greyishBlack,0.85);
    ul{
        list-style: none;
        padding-bottom: 1em;

        display: flex;
        justify-content: center;
        gap: 2em;
        font-size: 1.25rem;
        li{
            cursor: pointer;
            &.active{
                border-bottom: 3px solid $accentColor;
            }
        }
    }
}

.logo{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    font-weight: normal;
    text-align: center;
    padding-block: 0.5em;
    color: $accentColor;
}
